/* Extra small devices (phones, up to 480px) */
/* No media query since this is the default in Bootstrap */
@media (max-width: 768px) {
	header {
		margin-bottom: 0;
	}
	header .logo, header .navbar {
		margin-top: 20px;
	}
	.navbar-nav > li > a {
		padding-top: 6px;
		padding-bottom: 6px;
		line-height: 14px;
	}
	.page-content, .logo, .navbar {
		max-width: 220px;
	}
	.page-content {
		margin-bottom: 20px;
	}
	#footer .navbar {
		padding-left: 15px;
	}
	.detail img {
		margin-bottom: 10px;
	}
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .logo {
    /* background-color: blue; */
  }

  #site-copyright {
    text-align: right;
  }

  .carousel-caption {
    position: absolute;
    left: 15%;
    right: 15%;
    bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: transparent;
  }

  .carousel-control .prev, .carousel-control .next {
    top: 43%;
  }

  .info-box input {
    text-align: left;
  }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .logo {
    /* background-color: green; */
    margin: 0;
  }

  #header-nav {
    float: right;
  }

  #header-nav > li {
    width: auto;
    text-align: left;
  }
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .logo {
    /* background-color: purple; */
  }
}

@import 'font-awesome';